<footer class="footer">
  <div class="container footer__container">
    <p>© 2024 Brazilla, All rights reserved.</p>
    <!-- prettier-ignore -->
    <nav class="footer__nav">
      <ul class="footer-nav__list">
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="https://github.com/rockettap/khnu-brazilla" target="_blank">
            <img src="/img/github-mark-white.svg" alt="GitHub">
          </a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="/" target="_blank">
            <img src="/img/Instagram_Glyph_White.svg" alt="Instagram">
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
