<header class="header">
  <div class="container header__container">
    <a href="#" class="header__logo">
      <img src="/img/logo.svg" alt="" class="logo__image" />
    </a>
    <button class="menu-btn">
      <div class="menu-btn__burger"></div>
    </button>
    <nav class="header__nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link">Link 1</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Link 2</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Link 3</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
