<header class="header">
  <div class="container header__container">
    <a href="/khnu-brazilla/" class="header__logo">
      <img src="/img/logo.svg" alt="Brazilla" class="logo__image" />
    </a>
    <button id="menu-btn" class="menu-btn">
      <div class="menu-btn__burger"></div>
    </button>
    <nav id="header-nav" class="header__nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="/khnu-brazilla/" class="nav__link">Головна</a>
        </li>
        <li class="nav__item">
          <a href="/khnu-brazilla/products/" class="nav__link">Товари</a>
        </li>
        <li class="nav__item">
          <a href="/khnu-brazilla/dashboard/" class="nav__link">
            Панель адміністратора
          </a>
        </li>
        <li class="nav__item">
          <a href="/khnu-brazilla/basket/" class="nav__link">Кошик</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
