body {
  font-family: system-ui, sans-serif;
  font-weight: normal;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  max-width: 1024px;
  padding: 0 16px;
  margin: 0 auto;
}

.scroll-lock {
  overflow: hidden;
}
