.footer {
  background-color: #151716;
  padding: 24px 0;
  color: #fff;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-nav__list {
  display: flex;
  list-style: none;
  gap: 24px;
}

.footer-nav__link {
  display: flex;
  width: 24px;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.5;
  }

  img {
    width: 100%;
  }
}
