.hero {
  padding: 208px 0 128px 0;
  color: #fff;
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1)),
    url('/img/tim-mossholder-YC6RVdoTtIk-unsplash.webp') center / cover;

  @media (min-resolution: 2dppx) {
    background:
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1)),
      url('/img/tim-mossholder-YC6RVdoTtIk-unsplash@2x.webp') center / cover;
  }

  @include mediaPhone {
    padding: 182.4px 0 102.4px 0;
  }

  min-height: 100svh;
  display: flex;
  align-items: center;

  &__container {
    flex: 1;

    @include mediaPhone {
      flex: 0 1 auto;
    }
  }
}

.hero__title {
  letter-spacing: 0.48px;
  font-size: 48px;
  max-width: 746.66px;
  margin-bottom: 32px;

  @include mediaPhone {
    font-size: 32px;
    text-align: center;
  }
}

.hero__description {
  margin-bottom: 32px;
  max-width: 560px;

  @include mediaPhone {
    text-align: center;
  }
}

.hero__btn {
  @include mediaPhone {
    width: 100%;
  }
}
