.location {
  padding: 128px 0 182px 0;

  @include mediaPhone {
    padding: 102.4px 0 145.6px 0;
  }
}

.location__title {
  margin-bottom: 48px;

  @include mediaPhone {
    margin-bottom: 38.4px;
  }
}
